.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btnBar {
    display: flex;
    gap: 10px;
}

.button {
    padding: 2px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    justify-content: space-between;
    transition: 0.2s ease;
}

.buttonBlue {
    background: #b93ae4;
    color: white;
}

.buttonBlue:hover {
    background: #732d91;
}

.buttonGreen {
    border: 2px solid #b93ae4;
    background: #ffffff;
    color: #b93ae4;
}

.buttonGreen:hover {
    color: #732d91;
    border: 2px solid #732d91;
}

.buttonRed {
    font-family: "Arial";
    background: #f44336;
    color: white;
}

.buttonRed:hover {
    opacity: 0.9;
}
.mainTitle {
    color: #b93ae4;
}
