.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
}
.table tr:hover {
    background-color: #ff9e9e;
}
