.container {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    padding: 0 20px;

    align-items: center;
    margin-bottom: 20px;
    background-color: #eee3fd;
}
h1 {
    color: #312252;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.buttonRed {
    background: #d44f6d;
    color: white;
}
